.galleryContainer {
  display: flex;    
  flex-direction: column;  
  border-top: 1px solid #ddd;
}

.gallery {
  display: flex; 
  padding: 0 0.5rem;
  flex-wrap: wrap;
  gap: 0.5rem; 
}

.tabsContainer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: #131514;
  padding: 1rem 0rem 0rem 1rem;
  box-shadow: inset 0 -3px 10px -2px #141414;
}
.tabs {
  display: flex; 
  gap: 1rem;
}
.tabButton {
  height: 60px;
  padding: 15px; 
  background-color: #ddd;
  border: none; 
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;    
  border-bottom: 1px solid #272828;
  margin-top: 1px;
  z-index: 1;
  font-size: 0.7rem;
} 
.active {
  font-size: 1.3rem;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #272828;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 -5px 6px -2px #1f1e1e; 
  color: #ddd;
  border-bottom: 1px solid #272828;
  margin-top: 1px;
  z-index: 1;
}
.totalValue {
  font-size: 16px;
  font-weight: bold;
  color: #ddd;
  padding-right: 1rem;
}

.searchInput {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
}

.card { 
  display: flex;
  flex-direction: column;
  background-color: #dde1eb;
  border-radius: 8px;
  padding: 0.3rem 0.7rem;
  justify-content: center;
  box-shadow: 0 0 4px 1px #000000;
  position: relative;
}

.cardNumber {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.8rem;
  z-index: 9;
}
 
.cardThumbnail {
  width: 150px; 
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
} 

.cardInfo {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #a4a4a4;
  width: calc(100% + 11px);
  padding-top: 0.3rem;
  margin-top: 0.3rem;
  margin-left: -11px;
  padding-left: 11px;
  text-align: center;
}

.cardName {
  font-size: 1rem;
}

.cardPrice {
  text-align: right;
  margin-top: 0.3rem;
  font-size: 0.6rem; 
  padding-right: 0.3rem;
}